.image-label-container {
    border-top: 1px solid rgb(200,200,200);
    border-bottom:1px solid rgb(200,200,200);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ptp-cols {
    width: 33%;
}

.ptp-button-cols {
    width: 16%;
}

